<!DOCTYPE html>
<!--
This is a starter template page. Use this page to start your new project from
scratch. This page gets rid of all links and provides the needed markup only.
-->
<html>
<head>

{% include "layout/admin/head.html" %}

</head>

<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

  {% include "layout/admin/nav.html" %}
  {% include "layout/admin/sidebar.html" %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% block content %}
    {% endblock %}
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="pull-right hidden-xs">
      Academica for Better Education
    </div>
    <!-- Default to the left -->
    <strong>Copyright &copy; 2016 <a href="#">Ilmu Komputer FPMIPA UPI 2016</a>.</strong> All rights reserved.
  </footer>
  
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>
<!-- ./wrapper -->

  {% include "layout/admin/js.html" %}

  {% block inline_js %}
  {% endblock %}

</body>
</html>
